body{
  font-family: "Roboto",sans-serif;
  overflow-x: hidden;
}
:root{
  --color-212529:#212529;
  --color-ffd333:#ffd333;
  --color-47ad24:#47ad24;
  --color-e52e2e:#e52e2e;
  --color-828599:#828599;
  --color-3d464d:#3d464d;
  --color-cde4da:#cde4da;
}
.red{
  color:var(--color-e52e2e);
  font-family: Roboto !important;
  font-style: 14px;
}
.green{
  color:var(--color-47ad24);
  font-family: Roboto !important;
  font-style: 14px;
}
.error{
  color:var(--color-e52e2e);
  /* margin-left: 20px;
  margin:-16px 10px 24px 0; */
  font-size: 12px;
}
/*css layout*/
.ant-layout{
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
}
.ant-layout-sider-collapsed{
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.lg-logo{
  display: none;
}
.ant-layout-sider-collapsed .lg-logo{
  display: block;
}
.ant-layout-sider-collapsed .sm-logo{
  display: none;
}
.logo{
  background-color: #ffd333;
  height: 64px;
  display: flex;
  align-items: center;
}
.ant-layout-header h5{
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p{
  line-height: 20px;
  font-size: 13px;
}
main{
  background-color: transparent !important;
}
.ant-layout-header div .badge{
 top:16px;
 right: -6px;
}
.form-control{
  box-shadow: none;
  border-color: var(--color-cde4da);
}
.title{
  font-size: 28px;
  font-family: Roboto !important;
  color:var(--color-212529);
}
.sub-title{
  font-size: 24px;
  font-family: Roboto !important;
  color:var(--color-212529);
}
.desc{
  font-size: 24px;
  font-family: Roboto !important;
  color:var(--color-828599);
}
.ant-select-selector{
  height: 54px !important;
}
.ant-tag{
  height: 36px;
    display: flex;
    align-items: center;
}